<div class="company-bike reveal">
  <img src="assets/imgs/company.jpg" alt="" />
  <div class="container h-100">
    <div class="company-bike__content">
      <h5>Bicycle company</h5>
      <p>
        Lorem ipsum dolor sit amet, ei sea ullum ancillae qualisque.
        Exerci veritus verterem usu et, ut ius iisque aeterno.
        Ut nam prima malorum pertinacia, inani saperet salutandi usu ex,
        nihil commodo reformidans cum ne. Ei quo prompta blandit patrioque.
        Discere euripidis nam ei, ex cum indoctum forensibus voluptatibus.
      </p>
      <div class="company-bike__content--bold">
        <span>If it ain't fixed, it's broken.</span>
        <!-- <fa-icon class="rotate--10" [icon]="['fas', 'chevron-right']"></fa-icon> -->
      </div>
    </div>
  </div>
</div>
