<div class="social-medias">
  <div class="social-medias__photos row">
    <div class="col-lg-4 row p-0">
      <div class="col-6 pic reveal">
        <img src="assets/imgs/social/bike-01.jpg" alt="" />
      </div>
      <div class="col-6 pic reveal">
        <img src="assets/imgs/social/bike-02.jpg" alt="" />
      </div>
    </div>
    <div class="col-lg-4 row p-0">
      <div class="col-6 pic reveal">
        <img src="assets/imgs/social/bike-03.jpg" alt="" />
      </div>
      <div class="col-6 pic reveal">
        <img src="assets/imgs/social/bike-04.jpg" alt="" />
      </div>
    </div>
    <div class="col-lg-4 row p-0">
      <div class="col-6 pic reveal">
        <img src="assets/imgs/social/bike-05.jpg" alt="" />
      </div>
      <div class="col-6 pic reveal">
        <img src="assets/imgs/social/bike-06.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="social-medias__content row">
    <div class="col-lg-3 item bg-twitter reveal">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      <p class="item-title">Twitter</p>
      <p class="item-counter">8899</p>
      <p class="item-hash">#bicyclecompany</p>
    </div>
    <div class="col-lg-6 tweets reveal">
      <div id="carouselTweets" class="carousel slide" data-ride="carousel">
        <span>Latest tweets</span>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption d-block">
              <p>
                Lorem ipsum dolor sit amet, eu pri vide iudicabit democritum.
                <a href="#" title="#bicycle">#bicycle</a>
                <a href="#" title="#lifestyle">#lifestyle</a>
              </p>
            </div>
            <span class="user">@bicyclecompany</span>
            <span class="time">12 min</span>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-block">
              <p>
                Lorem ipsum dolor sit amet, eu pri vide iudicabit democritum.
                <a href="#" title="#bicycle">#bicycle</a>
                <a href="#" title="#lifestyle">#lifestyle</a>
              </p>
            </div>
            <span class="user">@bicyclecompany</span>
            <span class="time">1 day</span>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-block">
              <p>
                Lorem ipsum dolor sit amet, eu pri vide iudicabit democritum.
                <a href="#" title="#bicycle">#bicycle</a>
                <a href="#" title="#lifestyle">#lifestyle</a>
              </p>
            </div>
            <span class="user">@bicyclecompany</span>
            <span class="time">2 weeks</span>
          </div>
        </div>
        <div class="carousel-controls">
          <a class="carousel-control-prev" href="#carouselTweets" role="button" data-slide="prev">
            <fa-icon class="" [icon]="['fas', 'chevron-left']"></fa-icon>
          </a>
          <a class="carousel-control-next" href="#carouselTweets" role="button" data-slide="next">
            <fa-icon class="" [icon]="['fas', 'chevron-right']"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 item bg-facebook reveal">
      <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
      <p class="item-title">Facebook</p>
      <p class="item-counter">20564</p>
      <p class="item-hash">#bicyclecompany</p>
    </div>
  </div>
</div>
