<div class="pt-4 pb-4">
  <h2 class="d-block text-center mt-5 mb-5 fs-30">Shop by parts</h2>
  <div id="carouselShopping" class="carousel slide reveal" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item p-5 active">
          <img class="d-block w-50 m-auto" height="450" src="assets/imgs/bikes/bike-01.png" alt="First slide">
          <div class="carousel-caption d-md-block">
            <app-button class="align-items-end" [classes]="''" [text]="'See products'" [background]="'red'" [iconClass]="''"></app-button>
          </div>
        </div>
        <div class="carousel-item p-5">
          <img class="d-block w-50 m-auto" height="450" src="assets/imgs/bikes/bike-02.png" alt="Second slide">
          <div class="carousel-caption d-md-block">
            <app-button class="align-items-end" [classes]="''" [text]="'See products'" [background]="'red'" [iconClass]="''"></app-button>
          </div>
        </div>
        <div class="carousel-item p-5">
          <img class="d-block w-50 m-auto" height="450" src="assets/imgs/bikes/bike-03.png" alt="Third slide">
          <div class="carousel-caption d-md-block">
            <app-button class="align-items-end" [classes]="''" [text]="'See products'" [background]="'red'" [iconClass]="''"></app-button>
          </div>
        </div>
        <div class="carousel-item p-5">
          <img class="d-block w-50 m-auto" height="450" src="assets/imgs/bikes/bike-04.png" alt="Last slide">
          <div class="carousel-caption d-md-block">
            <app-button class="align-items-end" [classes]="''" [text]="'See products'" [background]="'red'" [iconClass]="''"></app-button>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselShopping" data-slide-to="0" class="active">
          <span>Race Road/TT Bike</span>
        </li>
        <li data-target="#carouselShopping" data-slide-to="1">
          <span>Road Mountain Bike</span>
        </li>
        <li data-target="#carouselShopping" data-slide-to="2">
          <span>lifestyle Bike</span>
        </li>
        <li data-target="#carouselShopping" data-slide-to="3">
          <span>Bespoke Bike</span>
        </li>
      </ol>
    </div>
</div>
