<div id="carouselLanding" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/imgs/carousel/carousel-01.jpg" alt="First slide">
      <div class="carousel-caption container d-md-block">
        <h5 class="fs-70">Awesome bicycle products</h5>
        <app-button class="align-items-center" [classes]="''" [text]="'More info'" [background]="'red'" [iconClass]="''"></app-button>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/imgs/carousel/carousel-02.jpg" alt="Second slide">
      <div class="carousel-caption container d-md-block">
        <h5 class="fs-70 text-center">Awesome bicycle products</h5>
        <app-button class="align-items-center" [classes]="''" [text]="'More info'" [background]="'red'" [iconClass]="''"></app-button>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/imgs/carousel/carousel-03.jpg" alt="Third slide">
      <div class="carousel-caption container d-md-block">
        <h5 class="fs-70">Awesome bicycle products</h5>
        <app-button class="align-items-center" [classes]="''" [text]="'More info'" [background]="'red'" [iconClass]="''"></app-button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev fs-50" href="#carouselLanding" role="button" data-slide="prev">
    <fa-icon class="rotate-10" [icon]="['fas', 'chevron-left']"></fa-icon>
  </a>
  <a class="carousel-control-next fs-50" href="#carouselLanding" role="button" data-slide="next">
    <fa-icon class="rotate--10" [icon]="['fas', 'chevron-right']"></fa-icon>
  </a>
</div>

