<div class="newsletter reveal">
  <div class="container">
    <h2>Subscribe to our newsletter</h2>
    <p>
      Lorem ipsum dolor sit amet, purto quaeque ea usu.
      Simul quando eam ei, et mei autem fastidii copiosae.
      Ad debet liberavisse disputationi eum.
    </p>
    <div class="input-mail">
      <input type="email" name="email" id="email" placeholder="Email" />
      <button id="send-mail">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      </button>
    </div>
  </div>
</div>
