<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-md-6 text-left">
      <h2 class="mt-4 mb-5 fs-50 reveal">Who we are</h2>
      <p class="mb-5 reveal">
        Lorem ipsum dolor sit amet, his ea essent deseruisse, epicurei consequat in eum.
        Nec consul indoctum id, te sed mutat dolore nostrum.
        Duo albucius invidunt petentium ea. Sit ne ludus eirmod laboramus,
        ferri apeirian mei at. Cu vim option singulis.
        Lorem ipsum dolor sit amet, his ea essent deseruisse, epicurei consequat in eum.
        Nec consul indoctum id, te sed mutat dolore nostrum.
        Duo albucius invidunt petentium ea. Sit ne ludus eirmod laboramus,
        ferri apeirian mei at. Cu vim option singulis.
      </p>
      <app-button [classes]="'reveal'" [text]="'More info'" [background]="'red'" [iconClass]="''"></app-button>
    </div>
    <div class="col-md-6 p-5">
      <img class="w-100 reveal" src="assets/imgs/who-we-are.png" alt="Who we are" />
    </div>
  </div>
</div>
