<footer class="footer bg-dark">
    <div class="container">
        <div class="row footer-content">
            <div class="col-md-4 footer-infos">
                <a href="#" title="Bicycle company">
                    <h2>Bicycle company</h2>
                </a>
                <p>Lorem ipsum dolor sit amet, ne propriae appareat adversarium sed. </p>
                <ul>
                    <li><a href="#" title="Guides">Guides</a></li>
                    <li><a href="#" title="Terms of use">Terms of use</a></li>
                    <li><a href="#" title="Privacy policy">Privacy policy</a></li>
                </ul>
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <fa-icon [icon]="['fas', 'heart']"></fa-icon> by Elachkoura Abdelfattah
                </span>
            </div>
            <div class="col-md-3 footer-links">
                <p>Quick links</p>
                <ul>
                    <li><a href="#" title="Guides">Guides</a></li>
                    <li><a href="#" title="Terms of use">Terms of use</a></li>
                    <li><a href="#" title="Privacy policy">Privacy policy</a></li>
                    <li><a href="#" title="Terms of use">Terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <p>About us</p>
                <ul>
                    <li><a href="#" title="Guides">Guides</a></li>
                    <li><a href="#" title="Terms of use">Terms of use</a></li>
                    <li><a href="#" title="Privacy policy">Privacy policy</a></li>
                    <li><a href="#" title="Terms of use">Terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-follow">
                <p>Follow us</p>
                <ul>
                    <li>
                        <a href="#" title="Facebook">
                            <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter">
                            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Instagram">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                    </li>
                </ul>
                <div class="payment">
                    <span>Payment methods</span>
                    <ul>
                        <li>
                            <fa-icon [icon]="['fab', 'cc-paypal']"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="['fab', 'cc-visa']"></fa-icon>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
